bin/
obj/
.dotnet/
.dotnet-cli/
TestResults/
.artifacts/
output/
src/HERM-MAPPER-APP/App_Data/herm-mapper.db-wal
src/HERM-MAPPER-APP/App_Data/herm-mapper.db-shm
src/HERM-MAPPER-APP/App_Data/herm-mapper.db
src/HERM-MAPPER-APP/App_Data/herm-mapper.db
